<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="Github_Flutter-Global" value="https://nuget.pkg.github.com/Flutter-Global/index.json" />
		<add key="Local" value="C:\Nugets" />
		<add key="tradingsolutions-nuget" value="http://tradingsolutions-nuget.sportsbet.com.au/NugetServer/nuget" allowInsecureConnections="True" />
	</packageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="True" />
	</packageManagement>
	<packageSourceCredentials>
		<github_Flutter-Global>
			<add key="Username" value="%GITHUB_PACKAGES_USERNAME%" />
			<add key="ClearTextPassword" value="%GITHUB_PACKAGES_TOKEN%" />
		</github_Flutter-Global>
	</packageSourceCredentials>
	<disabledPackageSources>
		<add key="Trading Solutions" value="true" />
	</disabledPackageSources>
</configuration>